<ActionBar title='Data999' class='action-bar'></ActionBar>
<StackLayout>
    <!--    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <StackLayout *ngFor="let question of questions" class="form-row">
            <df-question [question]="question" [form]="form"></df-question>
        </StackLayout>
        <StackLayout class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </StackLayout>
    </form>
    <StackLayout *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </StackLayout>-->
    <Button text='button' (tap)='onSubmit()'></Button>
</StackLayout>